<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
  <targets>
    <target name="fileLog" xsi:type="File" fileName="LaserCam.log" layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} | ${exception:@}"/>
    <target name="consoleLog" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} | ${exception:format=message}"/>
  </targets>
  <rules>
    <!--<logger name="*" writeTo="fileLog"/>-->
    <logger name="*" writeTo="consoleLog"/>
  </rules>
</nlog>